:root {
    --fg: hsl(124, 99%, 30%);
    --fgD1: hsl(124, 96%, 24%);
    --fgD2: hsl(124, 94%, 16%);
    --fgL1: hsl(124, 63%, 46%);
    --fgL2: hsl(124, 56%, 62%);
    --bg: hsl(0, 0%, 0%);
    --data-hei: 20vh;
}

@font-face {
    font-family: "NerdFont";
    src: url("ArimoNerdFontPropo-Regular.ttf") format("truetype");
}

/* Hide scrollbars */
*::-webkit-scrollbar {
    display: none;
}

html,
body {
    background: var(--bg);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* BASIC RESET */
* {
    margin: 0;
    padding: 0;
    color: var(--fgL2);
    font-family: "NerdFont";
    text-decoration: none;
}

/* Apply text shadow ONLY to text elements */
h1,
h2,
h3,
p,
span,
a,
li {
    text-shadow:
        -1px -1px 1px black,
        1px -1px 1px black,
        -1px 1px 1px black,
        1px 1px 1px black;
}

#main {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    isolation: isolate;
    overscroll-behavior: none;
    /* forces stacking context */
    overscroll-behavior: none;
    overflow: hidden;
    touch-action: none;
}

#omnit {
    aspect-ratio: 1;
}

/* Floating text panel */
.aline {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: none;
    z-index: 2;
}

/* Apply drop-shadow only to visible items */
.aline div,
.aline img {
    filter: drop-shadow(0 0 35px var(--fg));
}

.aline a {
    text-decoration: underline;
    text-align: center;
    display: block;
}

.aline>div {
    margin: 20px;
}

ul {
    list-style-type: none;
    margin: 20px;
}

.aline>div>ul li {
    margin-bottom: 1.2rem;
    text-indent: 1rem;
}

/* Azmuth menu */
.azmuth {
    position: absolute;
    top: 5vh;
    right: 0;
    background: none;
}

.azmuth span {
    cursor: pointer;
    position: absolute;
    right: 5vw;
}

/* Rotating menu */
.det {
    position: absolute;
    top: var(--data-hei);
    width: calc(1.4 * var(--data-hei));
    display: flex;
    flex-wrap: wrap;
    left: calc((-1.4*var(--data-hei))/2);
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: 50% calc(-1 * var(--data-hei));
    transition: transform 400ms ease-out, opacity 600ms ease-in;
    z-index: 3;
    background: none;
}

.det.open {
    opacity: 1;
    transform: rotate(45deg);
}

.open p,
.dropdown a {
    cursor: pointer;
    margin: 1rem;
}

.open h3 {
    text-decoration: underline;
    cursor: default;
}

.open>div {
    margin: 10px;
    transform: rotate(-45deg);
}


h2,
p {
    text-align: center;
}

/* galvan base */
.base-root {
    padding-top: 5vh;
    overscroll-behavior: unset;
    overflow: hidden;
    height: 100%;
}

.base-root span {
    position: sticky;
    top: 5vh;
    left: 1vh;
    cursor: pointer;
}

.base-root>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2vw;

}

.det>div>div {
    margin-top: 0.4rem;
}

.galven-data {
    display: grid;
    place-items: end;
    overflow: hidden;
    position: relative;
}

.galven-data>p {
    padding: 0.7rem;
    background: linear-gradient(to bottom, transparent, #000000);
    transform: translateY(20px);
    opacity: 0;
    transition: opacity .4s ease, transform 0.4s ease;
}

.galven-data:hover>p {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1.6s ease, transform 0.4s ease;
}
