:root{
    --fg: #019606;
    --bg: #000;
}
/* Hide scrollbars in Firefox */
body {
    scrollbar-width: none;  /* Hide scrollbar in Firefox */
}

/* Hide scrollbar in Webkit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
    display: none;
}

* {
    margin : 0;
    padding: 0;
    background: var(--bg);
    color: var(--fg);
}
#main{
    display:grid;
    place-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    perspective: 500px;
}

.omnit{
    border: 20px solid var(--fg);
    aspect-ratio:1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}
svg{
    background : none;
    position: absolute;
}
.aline{
    position:absolute;
    /* aspect-ratio:1/1; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
}
.aline > div{
    background : none;
    margin: 20px;
    /* aspect-ratio:1/1; */
    /* padding:40px; */
}
.aline span {
    font-size:2rem;
}
.aline *{
    background:none;
    filter: drop-shadow(0 0 10px var(--fg) );
}
.select{
    transform: rotateX(85deg) translateY(60%) scale(0.2);
}
.random-div{
    opacity: 0.6;
}
.ausmuth{
    background-color:#1e1e1e;
    position: absolute;
    top: 5vh;
  right: 10vw;
  background: none;
}
